#about {
    text-align: center; 
    background-color: #F6F6F6;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
}

h3 {
    font-family: 'Alice', serif;
    font-size: 1.5rem;
    font-weight: 400;
}

#intro {
    margin-left: 6rem;
    margin-right: 6rem;
}

p {
    font-size: 1.25rem;
}

ul {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    padding-left: 5rem;
    padding-right: 5rem;
}

li a {
    text-decoration: none;
}

li a:visited {
    color: #191919;
}