@import url('https://fonts.googleapis.com/css2?family=Alice&family=Almarai&display=swap');

body {
    background-color: #FFFCFC;
    font-family: 'Almarai', sans-serif;
    color: #191919;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    background-color: #191919;
    color: #FFFCFC;
}

#logo {
    height: 6rem;
    margin-left: 2rem;
}

h1 {
    font-family: 'Alice', serif;
    font-size: 4.5rem;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#navLogout {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 2rem;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 2rem;
}

nav {
    font-size: 2rem;
    margin-left: 2rem;
}

#registerBtn {
    width: 12rem;
    height: 4rem;
    font-size: 2rem;
    color: #FFFCFC;
}

#logoutButton {
    width: 8rem;
    height: 4rem;
    font-size: 2rem;
    background-color: #191919;
    color: #FFFCFC;
}

#navLogout a {
    text-decoration: none;
    color: #FFFCFC;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

nav a {
    text-decoration: none;
    color: #FFFCFC;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

nav a:visited {
    text-decoration: none;
}

#search {
    text-align: center;
}

#searchBar {
    width: 60%;
    padding: 1rem;
    margin: 1.5rem;
    border-radius: 0.3rem;
    font-size: 2rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    color: #FFFCFC;
    font-size: 1.5rem;
    margin-top: auto;
}