#libraryHead {
    position: relative;
    text-align: center;
}
  
#admin {
    position: absolute;
    top: 1rem;
    right: 0;
    font-size: 1.25rem;
}

#adminBtn {
    width: 6rem;
    height: 3rem;
}

#adminLink {
    color: black;
    text-decoration: none; /* This removes underlines from the link */
  }

#genre {
    font-size: 1.25rem;

}

#genreDropdown {
    font-size: 1.25rem;
}

.libraryDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
}

.description {
    text-align: left;
    font-size: 1.25rem;
    width: 50%;
}


