.libraryDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 1rem;
}

.coverInfo {
    display: flex;
    align-items: center;
}

.description {
    padding-left: 2rem;
    text-align: left;
    font-size: 1.25rem;
    width: 50%;
}