.main {
    text-align: center; 
    background-color: #F6F6F6;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 1.5rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}